.custom-text-gray {
    color: gray; 
    font-size: 18px;
}


.custom-input {
    border: none;
    border-bottom: 1px solid #ced4da; /* Встановіть бажаний колір бордера тут */
    border-radius: 0;
    outline: none; /* Для видалення обводки при фокусі */
}