.custom-text-gray {
    color: gray; 
    font-size: 18px;
}


.custom-input {
    border: none;
    border-bottom: 1px solid #ced4da; /* Встановіть бажаний колір бордера тут */
    border-radius: 0;
    outline: none; /* Для видалення обводки при фокусі */
}

.retreat{
    margin-top: 15px;
    padding: 50px;
}

.retreat1{
    margin-top: 70px;
}

.retreat2{
    margin-top: 50px;
}

.form-control:focus {
    box-shadow: none; 
}